{% extends 'base.html' %}
{% block content %}
    <div class='blog-entry'>
        <h1>Add a blog entry</h1>
        <form action='/newpost' method='POST'>
                <label for="title">
                    Title for your new blog:<br>
                    <input type="text" name="title"/>
                    {% if title_error %}
                        <h5 class='error'>{{ title_error }}</h5>
                    {% endif %}
                </label>
                <br><br>
                <label for="body">
                    Your new blog:<br>
                    <textarea name="body" rows="4" cols="30" required>
                    </textarea>
                    {% if body_error %}
                        <h5 class='error'>{{ body_error }}</h5>
                    {% endif %}
                    <br>
                    <!-- <p>written by<a href="/blog?user=user"></a></p> -->
                </label>
                <br><br>
                <input type="submit" value="Submit"/>
        </form>
    </div>

{% endblock %} 