{% extends 'base.html' %}
{% block content %}
    <div class='blog-entry'>
        <h1>Add a blog entry</h1>
        <form action='/newpost' method='POST'>
                <label for="title">
                    Title for your new blog:<br>
                    <input type="text" name="title"/>
                    {% if title_error %}
                        <span class='error'>{{ title_error }}</span>
                    {% endif %}
                </label>
                <br><br><br>
                <label for="body">
                    Your new blog:<br>
                    <textarea name="body" rows="4" cols="30" required>
                    </textarea>
                    {% if body_error %}
                        <span class='error'>{{ body_error }}</span>
                    {% endif %}
                    <br>
                </label>
                <br><br>
                <input type="submit" value="Add Task"/>
        </form>
    </div>

{% endblock %} 